.partners {
  font-family: 'Graph';
  color: white;
  margin: 0 0 150px;
}

.partners__wrapper {
  text-align: center;
}

.partners__title {
font-weight: 400;
font-size: 52px;
line-height: 119%;
margin: 0 0 15px;
}

.partners__description {
  max-width: 590px;
  margin: 0 auto 50px;
}

.partners__items {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 0px 75px;
 margin: 0 0 65px;
}

.partners__link svg {
  width: 75px;
  height: 75px;
}

.partners__link .ibm{
  width: 150px;
}

.partners__btn{
  padding: 14px 40px;
  border: 1px solid white;
  font-family: 'Graph';
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

.partners__btn:hover{
  background-color: white;
  color: black;
}

@media(max-width:860px){
  .partners__btn:hover{
    background-color: unset;
    color: unset;
  }
}


